/FtisHelperV2.csproj.user
/Config
/log
/obj
/tmp
/bin/DouImp.pdb
/bin/DouImp.dll
/.vs/DouImp
/Scripts/gis
/Scripts/Dou
/bin/Dou.pdb
/bin/FtisHelperV2.pdb
/bin/app.publish
/Properties/PublishProfiles
/bin/DouImp.dll.config
/Web.config.Brian
/Scripts/prj/--Emp.js
/Upload
/bin/EnvDTE.dll
/Report/----ReportProductDeliverySob1.rdlc
/Report/--Color.rdlc
/Report/----InstrumentCourse.rdlc
/Report/----ProductChange.rdlc
/Report/--Report1.rdlc
/Report/--Report1Sob1.rdlc
/Report/--Report1Sob2.rdlc
/Report/EmpBasic/Test_Sub2Da4s.rdlc
/Report/EmpBasic/Test_Master.rdlc
/bin/stdole.dll
/bin/Microsoft.VisualStudio.VSHelp.dll
/bin/VSLangProj.dll
/bin/VSLangProj2.dll
/bin/VSLangProj80.dll
/bin/EnvDTE80.dll
/bin/Microsoft.Build.Framework.dll
/bin/Microsoft.Build.Tasks.Core.dll
/bin/Microsoft.Build.Utilities.Core.dll
/bin/Microsoft.MSXML.dll
/bin/Microsoft.VisualStudio.ComponentModelHost.dll
/bin/Microsoft.VisualStudio.Data.Core.dll
/bin/Microsoft.VisualStudio.Data.Services.dll
/bin/Microsoft.VisualStudio.GraphModel.dll
/bin/Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll
/bin/Microsoft.VisualStudio.Interop.dll
/bin/Microsoft.VisualStudio.ManagedInterfaces.dll
/bin/Microsoft.VisualStudio.ProjectAggregator.dll
/bin/Microsoft.VisualStudio.TemplateWizardInterface.dll
/bin/zh-Hant/Microsoft.VisualStudio.GraphModel.resources.dll
/bin/zh-Hant/Microsoft.VisualStudio.Data.Core.resources.dll
/bin/zh-Hant/Microsoft.VisualStudio.Data.Services.resources.dll
/bin/FtisHelperV2.dll.config
/bin/Dou.dll.config
*.vsidx
